<p class="text-white bg-danger body">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor delectus
  obcaecati maiores voluptate! Debitis ad fuga odit illo nihil? Nostrum, odit
  quis! Laudantium dolore, laboriosam illo soluta, eligendi nemo dicta quas
  nihil esse iure molestias eveniet quaerat quisquam corporis sapiente est
  deleniti a iste aliquid veniam vel? Necessitatibus repellendus impedit
  deserunt quo repellat. Totam, iste! Voluptas veritatis error nam magni
  inventore temporibus? Eligendi numquam commodi fuga id, possimus nesciunt,
  consequuntur nam vitae vel sed modi corrupti at dolorum nulla totam aperiam
  veniam tempore nostrum beatae, soluta a sunt sit ab necessitatibus? Omnis, aut
  non inventore earum obcaecati unde fugit veritatis.
</p>
